@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Quicksand-Light.eot?") format("eot"), url("../fonts/Quicksand-Light.woff2") format("woff2"), url("../fonts/Quicksand-Light.woff") format("woff"), url("../fonts/Quicksand-Light.ttf") format("truetype"), url("../fonts/Quicksand-Light.svg#Quicksand") format("svg");
}
@font-face {
  font-family: "Quicksand1";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Quicksand-Regular.eot?") format("eot"), url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.ttf") format("truetype"), url("../fonts/Quicksand-Regular.svg#Quicksand") format("svg");
}
@font-face {
  font-family: "Quicksand2";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Quicksand-Medium.eot?") format("eot"), url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff"), url("../fonts/Quicksand-Medium.ttf") format("truetype"), url("../fonts/Quicksand-Medium.svg#Quicksand") format("svg");
}
@font-face {
  font-family: "Quicksand3";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Quicksand-Bold.eot?") format("eot"), url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff"), url("../fonts/Quicksand-Bold.ttf") format("truetype"), url("../fonts/Quicksand-Bold.svg#Quicksand") format("svg");
}
body,html{height: 100%;}
body {
    margin: 0;
    font-family: 'Quicksand';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
html {
    font-family: 'Quicksand';
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
a{color: inherit;}
a:hover{color: inherit;}

header h1{left: 60px; top: 50px; position: fixed;z-index: 999;width: 73px;height: 90px;}
header h1 img{display: none;}
header h1::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #db1629;
    background: url(../img/logo-volverd6-whitev2.png);
    background-size: 100% 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
    display: block;
    position: absolute;
    z-index: 999999;
}
header h1::before{
    content: "";
    width: 100%;
    height: 100%;
    padding: 70px 69px;
    background-color: #db1629;
    display: block;
    z-index: 9999;
    position: absolute;
    top: -24px;
    left: -33px;
}
header input{display: none;}
header label {
    float: right;
    height: 80px;
    width: 80px;
    right: 40px;
    top: 55px;
    cursor: pointer;
    z-index: 999;
    position: fixed;
}
header label i::before{
    content: "";
    width: 100%;
    height: 100%;
    background: url(../img/icon-menu.png);
    background-size: 100% 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
    display: block;
    z-index: 999999;
    
}
header input:checked + label i::before{
    transition: 0.1s;
    transition-delay: 0.1s;
    background: url(../img/btn-close.png);
    background-size: 100% 100%;
}
header input:checked + label +a h1::before{
    display: none;
}

header input ~ nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
    z-index: 9;
}
header input:checked ~ nav{
    background: rgba(219, 22, 41, 0.85);
}
header input ~ nav > ul {
  text-align: center;
  margin-top: 230px;
}

header input ~ nav > ul > li > a {
    text-decoration: none;
    display: block;
    font-family: 'Quicksand2';
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    text-align: center;
    line-height: 1.2;
}
header input ~ nav > ul > li > a:hover {
    text-decoration: underline;
    color: #d1d1d1;
}
header input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
}
nav ul{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}


header footer{
    padding:30px 0px;
    text-align: center;
    color: #fff;
    background-color: transparent;
}
header .social{color: #fff;font-size: 20px;margin: 40px 0px;}
header .social i{font-size: 30px;}

.video{width: 100%; height: 100%;position: relative;}


.video{
    display: table;
}
.video .cover{
    display: table-cell;
	vertical-align: middle;
    background-color: rgba(227, 231, 222, 0.71);
}
.video .cover .intro{
    font-family: Quicksand1;
    font-size: 40px;
    color: #000;
    text-align: center;
}
.jobs article{padding: 0;float: left;overflow: hidden;position: relative;}
.jobs article figure img{width: 100%;}
.jobs article figcaption .desLeft{
    transition: all 300ms;
    width: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.jobs article:hover figcaption .desLeft{
    width: 100%; 
    height: 100%;
}
.jobs .over{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    background: #db1629;
    border-bottom-right-radius: 200px;
}
.jobs figcaption .left {
    bottom: 30px;
    position: absolute;
    color: #fff;
    left: 30px;
}
.jobs figcaption .right {
    top: 45%;
    position: absolute;
    right: 2%;
}
.jobs figure {
    margin: 0;
}
footer{
    padding:30px 0px;
    text-align: center;
    color: #fff;
    background-color: #db1629;
    font-size: 16px;
}

.video .jarallax {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9;
}

.parallax { 
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jarallax {min-height: 500px;}
article.full .jarallax {min-height: 700px;}
#myModal img{width: 100%;}

.img figure{
    height: 500px;background-position: left center; background-repeat: no-repeat;background-size: cover;    background-size: 60% 100%;
}
.zoom{
    -webkit-transition:all .5s ease; /* Safari y Chrome */
    -moz-transition:all .5s ease; /* Firefox */
    -o-transition:all .5s ease; /* IE 9 */
    -ms-transition:all .5s ease; /* Opera */ 
}
.img .transition{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
.zoom.transition{
    -webkit-transform:scale(1.55);
    -moz-transform:scale(1.55);
    -ms-transform:scale(1.55);
    -o-transform:scale(1.55);
    transform:scale(1.55);
}

.banner{width: 100%;}
.banner img{width: 100%;}
.content p{    font-family: Quicksand2;
    font-size: 24px;}
h2{
    font-size: 60px;
    font-family: Quicksand1;
    position: relative;
    margin-bottom: 35px;
}
h2::after{
    content: "";
    height: 4px;
    width: 40px;
    background-color: #db1629;
    bottom: 0;
    left: 0;
    position: absolute;
    border-radius: 50px;
}
.content p a{color: #db1629}

/*volverianos*/
.employes{margin-top: 60px;}
.employes img{width: 100%}
.employes article{margin: 0;padding: 0;}
.employes figure{margin: 0;}
.employes figcaption p {position: absolute;bottom: 0; color: #fff;width: 100%;background-color: rgba(219, 22, 41, 0.77);margin: 0;font-size: 18px;font-weight: 700}

.flip-container {perspective: 1000px;}
.flip-container{height: 330px;}
.flip-container:hover .flipper, .flip-container.hover .flipper {transform: rotateY(180deg);}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {z-index: 2;transform: rotateY(0deg);}
.back {transform: rotateY(180deg);}


/*clientes*/
.logos article{margin: 40px 0px;}
.logos article figure{text-align: center;}
.logos article figure img{width: 180px;}
/*fin de clientes*/
/*contacto*/
#map {width: 100%;height: 700px;background-color: grey;}
#contacto .content i{color:#bab3b3;margin: 0px 10px;font-size: 25px;}
/*fin de contacto*/

#trabajos #container img{width: 100%;}
#trabajos #container iframe{width: 100%;}
#trabajos .play{position: absolute;top: 43%;left: 46%;width: 30px;height: 30px;}
#trabajos .jobs{margin-bottom: 60px;cursor: pointer;}
#trabajos .jobs img{width: 100%;}
#trabajos .jobs .logo{position: absolute;bottom: 0px;left: 0px;width: 100%;background-color: rgba(219, 22, 41, 0.85);padding: 3px 20px;}
#trabajos .jobs .logo img{width: 100px;}



@media (max-width: 575.98px) {
    .video {height: 500px;}
    .video p{font-size: 24px;}
    .content{margin-top:20px;margin-bottom: 30px;}
    .content p{font-size: 16px;}
    h2{font-size: 24px;margin-bottom: 15px}
    
    .jobs article figcaption .desLeft {width: 100%;top: auto;bottom: 0;}
    .jobs .over {height: 75px;top: auto;bottom: 0;border-radius: 0;}
    .jobs figcaption .left {top: auto;bottom: 0;left: 2%;padding-bottom: 0px}
    .jobs figcaption .right {top: auto;bottom: 20px;right: 2%;}
    .jobs figcaption .left img{width: 110px;}
    .jobs figcaption h3 {margin-top: 10px;font-size: 14px;font-family: 'Quicksand2';}
    .jobs figcaption .right img{ width: 110px;}
    .jobs article .jarallax{min-height: 250px;}
    .jobs article .parallax{height: 250px;}
    
    .logos article {margin: 5px 0px;}
    #map {height: 300px;}
}
@media (min-width: 576px) and (max-width: 767.98px){
    .content{margin-top:25px;margin-bottom: 30px;}
    .content p{font-size: 20px;}
    h2{font-size: 34px;margin-bottom: 15px}
    #map {height: 300px;}
}
@media (min-width: 768px) and (max-width: 991.98px){
    .content{margin-top:25px;margin-bottom: 30px;}
    .content p{font-size: 24px;}
    h2{font-size: 40px;margin-bottom: 15px}
}
@media (min-width: 992px) and (max-width: 1199.98px){
    .content{margin-top:25px;margin-bottom: 30px;}
    .content p{font-size: 26px;}
    h2{font-size: 50px;margin-bottom: 15px}
}
@media (min-width: 1200px) and (max-width: 1599.98px){
    .content{margin-top:25px;margin-bottom: 30px;}
    .content p{font-size: 28px;}
    h2{font-size: 60px;margin-bottom: 15px}
}
@media (min-width: 1600px) {
    .content{margin-top: 130px;margin-bottom: 150px;}
    .container{width: 1528px;max-width: 1528px;}
}

@media (max-width: 768px){
    h2::after{display: none;}
    .img figure{
       background-size: 100% 100%;
    }
    .mobil .video{
        height: auto;
        margin-top: 86px;
    }
    .mobil .video figure{
        width: 100%;
        margin: 0;
    }
    .mobil .video figure img{
        width: 100%;
    }
    .mobil .video .cover {
        display: block;
        vertical-align: inherit;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .mobil .img figure {
        height: auto;
    }
}

@media (max-width:991px){
    header{background-color: #db1629;}
    header.container-fluid{padding: 0px;position: fixed;z-index: 9;top: 0;left: 0;}
    header h1,header label{position: relative;top: 0;}
    header h1,header label{margin-top: 8px;}
    header h1{float: left;left: 15px;width: 53px;height: 70px;}
    header h1::before{
        display: none;
    }
    header h1 img{width: 90px;}
    header label{    
        float: right;
        right: 15px;
        height: 54px;
        width: 54px;
        top: 6px;
    }
    header input ~ nav {}
    header input:checked ~ nav {height: 100%;}
    header input:checked ~ header {
        background-color: #db1629;
    }
    header input:checked ~ nav {
        background: inherit;
    }
    header label i::before{
        background: url(../img/icon-menu-mobile.png);
        background-size: 100% 100%;
    }
    header input ~ nav > ul {margin-top: 100px;}
    header input ~ nav > ul > li > a {margin-top: 10px;font-size: 22px;}
    header .social {
        margin: 20px 0px;
    }
    
    .social p{font-size: 14px;}
    .social p i{font-size: 24px;}
    .banner{margin-top: 86px;}
    #map{margin-top: 86px;}
}


.tiles-wrap li {
    display: block;
    opacity: 0;
    text-align: center;
    list-style-type: none;
    background-color: #fff;
    float: left;
    cursor: pointer;
    width: 210px;
    padding: 4px;
    border: 1px solid #dedede;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
